.app {
  padding: 20px;
  display: grid;
  grid-template-columns: auto 50%;
  grid-template-rows: auto 50%;
  align-items: center;
  grid-template-areas:
    "options options"
    "input palette"
    "output tools";
  gap: 20px;
  position: relative;
}

.app__options {
  display: flex;
  width: 100%;
  grid-area: options;

  button:not(:last-child) {
    margin-right: 10px;
  }
}

.app__undo,
.app__clear,
.app__import,
.app__export,
.app__grid {
  @include default-button;
  flex-grow: 1;
}
