.edit-palette {
  @include modal();
}

.edit-palette__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
  padding: 0 10px;
}

.edit-palette__list-item {
  @include default-button;
  margin-bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.edit-palette__back-to-list-button {
  @include default-button();
  width: 100%;
}

.edit-palette__shade-box {
  width: 50px;
  height: 50px;
}

.edit-palette__output-canvas {
  width: 50px;
  height: auto;
}

.edit-palette__add-new-button {
  @include default-button;
  margin-bottom: 20px;
}
