.export {
  @include modal();
  align-items: center;
}

.export__preview-image {
  margin-bottom: 20px;
  image-rendering: pixelated;
}

.export__download-link {
  border: solid black;
  color: black;
  @include default-button();
  width: 100%;
}

.export__filename {
  font-size: 20px;
  margin-bottom: 20px;
}
