.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &:empty {
    display: none;
  }
}
