.palette {
  grid-area: palette;
}

.palette__choices {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.palette__edit-button {
  @include default-button();

  width: 100%;
}

.palette__colour {
  @include default-button;
  justify-content: space-around;
  padding: 0;
  flex-grow: 1;
  height: 100px;

  canvas {
    transform: scale(4);
  }

  &--selected {
    border: 2px solid rgba(120, 0, 255, 1);
  }

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.palette__drawing-colour {
  width: 40px;
  height: 20px;
}
