html,
body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  background: rgba(255, 205, 63, 1);
  background: color(display-p3 1 0.8 0.25 / 1);
}

.drawing-canvas {
  touch-action: manipulation;
  background-color: white;
}
