//mixins
@import "./mixins/index";

//components
@import "./components/app";
@import "./components/choose-implement";
@import "./components/drawing-canvas";
@import "./components/edit-palette";
@import "./components/export";
@import "./components/grid";
@import "./components/github-link";
@import "./components/import";
@import "./components/modal-container";
@import "./components/output-canvas";
@import "./components/palette";
@import "./components/pattern-editor";
@import "./components/tools";

html,
body {
  overflow: hidden;
  @include playdate-yellow-background();
  user-select: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
}
