@mixin playdate-yellow-background() {
  background: rgba(255, 205, 63, 1);
  background: color(display-p3 1 0.8 0.25 / 1);
}

@mixin default-button() {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  border-radius: 5px;
  font-size: 16px;
  background: none;
  border-width: 2px;
  box-sizing: border-box;

  &--selected {
    border: 2px solid rgba(120, 0, 255, 1);
  }

  &:focus {
    outline: none !important;
  }
}
